*{
    margin: 0;
    padding: 0;
}
header{
    width: 100vw;
    height: 100px;
    background-color: rgb(255, 255, 156);
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.leftContent{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-items: center;
    justify-content: start;
    background-color: rgb(181, 54, 54);
    margin: 10px;
}
.middleContent{
    height: auto;
    width: 40%;
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: rgb(79, 174, 79);
    margin: 10px;
    .item{
        width: 80%;
        height: 150px;
        margin-top:40px;
        background-color: white;
    }

}
.rightContent{
    width: 30%;
    height: auto;
    display: flex;
    justify-self: end;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    flex-basis: auto;
    background-color: rgb(181, 54, 54);
    margin: 10px;
}
footer{
    width: 100vw;
    height: 100px;
    background-color: rgb(123, 255, 255);
    margin-top: 10px;
}
.item{
    margin-top: 10%;
    width: 85%;
    height: 25%;
    background-color: rgb(115, 115, 115);
}